@page "/"
@inject NavigationManager NavManager
@using System.Diagnostics

<div class="container p-4 position-relative">
    <div class="row row-cols-2">
        <div class='row @(orderItems?.Count() != null && orderItems?.Count() > 0 ? "col-9" : "col-12")'>
            <h1>Welcome to Bislerium Café</h1>

            <p class="body-text">
                Where every sip is a moment of pure bliss. Get ready to indulge in the finest
                coffee experience – brewed with passion and served with a smile. We're here
                to elevate your coffee moments to a whole new level. Order with ease and
                savor the extraordinary. Cheers to great coffee and warm moments!"
            </p>

            <nav class="d-flex justify-content-between align-items-center bg-light rounded mb-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item ">
                        <a class='nav-link btn @(tabFilter == "All" ? "active" : "")' @onclick='()=>TabFilter("All")'>All</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link btn @(tabFilter == "Coffee" ? "active" : "")' @onclick='()=>TabFilter("Coffee")'>Coffee</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link btn @(tabFilter == "Add-In" ? "active" : "")' @onclick='()=>TabFilter("Add-In")'>Add-In</a>
                    </li>
                </ul>
                <div class="w-25">
                    <div class="d-flex">
                        <input type="search" class="form-control search" placeholder="Search" @oninput="SearchTaskName" />
                    </div>
                </div>
            </nav>

            <div class='row @(orderItems?.Count() != null && orderItems?.Count() > 0 ? "row-cols-1 row-cols-lg-3" :  "row-cols-1 row-cols-lg-4")'>
                @{
                    IEnumerable<MenuItems> menuItemsList = menuItems;

                    if (tabFilter == "Coffee")
                    {
                        menuItemsList = menuItemsList.Where(t => t.ItemType == Items.Coffee);
                    }
                    else if (tabFilter == "Add-In")
                    {
                        menuItemsList = menuItemsList.Where(t => t.ItemType == Items.AddIn);
                    }

                    foreach (var menuItem in menuItemsList)
                    {
                        <div class="col">
                            <div class="card pb-3 mb-3" style="box-shadow: var(--boxShadow); border-radius: 6px; cursor: pointer;" @onclick="() => OpenDetailsModal(menuItem)">
                                <img src="@menuItem.ImageURL" class="card-img-top" alt="itemImage">
                                <div class="card-body" style="min-height: 80px">
                                    <div class="d-flex">
                                        <h6 class="card-title fw-bold" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-height: 50px; max-height: 50px; width: 60%;">
                                            @menuItem.Name
                                        </h6>
                                        <h5 class="card-subtitle mb-2 text-end" style="color: var(--primary); width: 40%;">Rs. @menuItem.Price</h5>
                                    </div>
                                </div>
                                <button type="button" @onclick="() => OpenDetailsModal(menuItem)" class="btn btn-primary" style="margin: 0px 0.75rem;">Order</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class='@(orderItems?.Count() != null && orderItems?.Count() > 0 ? "cols-3" :  "d-none")'>
            <div class="order-container position-fixed top-0 end-0">
                @if (orderItems != null)
                {
                    <div class="d-flex flex-column justify-content-between h-100">
                        <div>
                            <h2 class="mb-3">Orders</h2>
                            @foreach (var orderItem in orderItems)
                            {   
                                <div class="d-flex flex-column">
                                    <div class="d-flex justify-content-between">
                                        @orderItem.ItemName x @orderItem.Quantity
                                        <strong style="color: var(--primary)">Rs. @orderItem.ItemTotal</strong>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <i class="bi bi-pencil-square" @onclick="() => OpenItemEditModal(orderItem)" style="color: var(--primary); cursor: pointer;"></i>
                                        <i class="bi bi-trash-fill" @onclick="() => OpenItemCancelModal(orderItem)" style="color: red; cursor: pointer;"></i>
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            <div class="d-flex align-items-center justify-content-between pt-3" style="border-top: 2px solid lightgray">
                                <h4>Total: </h4>
                                <h3 style="color: var(--primary);">Rs. @orderItems.Sum(item => item.ItemTotal)</h3>
                            </div>
                            <div class="d-flex justify-content-between align-items-center pt-3" style="border-top: 2px solid lightgray">
                                <button type="button" @onclick="OpenOrderCancelModal" class="btn">Cancel</button>
                                <button class="btn btn-primary">Check Out</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if(showOrderCancelModal)
{
    <Modal Title="Cancel Order" OnClose="@OnOrderCancelModal" OkLabel="Confirm" CancelLabel="Go Back">
        <p>Are you sure you want to cancel the order?</p>
        @if (!string.IsNullOrEmpty(cancelOrderErrorMessage))
        {
            <AlertMessage Type="danger" Message="@cancelOrderErrorMessage" />
        }
    </Modal>
}

@if(showItemCancelModal)
{
    <Modal Title="Cancel Order" OnClose="@OnItemCancelModalClose" OkLabel="Confirm" CancelLabel="Go Back">
        <p>Are you sure you want to remove this item form the order?</p>
        @if (!string.IsNullOrEmpty(cancelItemErrorMessage))
        {
            <AlertMessage Type="danger" Message="@cancelItemErrorMessage" />
        }
    </Modal>
}

@if (showItemDetailModal)
{
    <Modal Title="@modalTitle" OnClose="@OnDetailsModalClose" OkLabel="@modalOkLabel" CancelLabel="Go Back">
        <div>
            @if (!string.IsNullOrEmpty(addItemErrorMessage))
            {
                <div class="col-md-12">
                    <AlertMessage Type="danger" Message="@addItemErrorMessage" />
                </div>
            }
            <div class="d-flex justify-content-between mb-3">
                <div>
                    <div>
                        <h3>@currentItem.Name</h3>
                        <h4 style="color: var(--primary)">Rs. @currentItem.Price</h4>
                    </div>
                    <div class="body-text">
                        @currentItem.Description
                    </div>
                </div>
                <img src="@currentItem.ImageURL" style="min-width: 250px; max-width: 250px;" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
                Quantity:
                <div style="color: var(--primary); border: 2px solid; border-color: var(--primary); border-radius: 16px; background-color: white; padding: 2px;">
                    <div class="d-flex align-items-center gap-2">
                        <button style="color: var(--primary); border-radius: 16px; outline: none; border: none; background-color: inherit;" @onclick="Decrement">-</button>
                        <span style="min-width: 15px; text-align: center" id="counter">@quantity</span>
                        <button style="color: var(--primary); border-radius: 16px; outline: none; border: none; background-color: inherit;" @onclick="Increment">+</button>
                    </div>
                </div>
            </div>
        </div>
    </Modal>
}


@code {
    [CascadingParameter]
    private GlobalState session { get; set; }

    // Current State of the items
    private List<MenuItems> menuItems { get; set; }
    private MenuItems currentItem { get; set; }
    private Orders currentOrderItem { get; set; }
    private Orders editingOrderItem { get; set; }

    // Selected menu items
    private List<Orders>? orderItems { get; set; }

    // To control the visibility of the modal
    private bool showItemDetailModal { get; set; }
    private bool showOrderCancelModal { get; set; }
    private bool showItemCancelModal { get; set; }
    private bool showEditItemModal { get; set; }

    // For the modal view
    private string modalTitle { get; set; }
    private string modalOkLabel { get; set; }
    private string addItemErrorMessage { get; set; } = "";
    private string cancelOrderErrorMessage { get; set; } = "";
    private string cancelItemErrorMessage { get; set; } = "";
    private string editItemErrorMessage { get; set; } = "";

    // For sorting
    private string tabFilter = "All";
    private string sortBy = "coffee";
    private string sortDirection = "up";

    private int quantity { get; set; } = 0;
    private float currentTotal { get; set; }

    // To increase the value of the quantity
    private void Increment()
    {
        quantity++;
    }

    // To decrese the value of the quantity
    private void Decrement()
    {
        if (quantity <= 0)
        {
            return;
        }
        else
        {
            quantity--;
        }
    }

    protected override void OnInitialized()
    {
        menuItems = MenuItemServices.GetAll();

        if (session.CurrentUser == null)
        {
            NavManager.NavigateTo("/login");
        }
    }

    // For filtering
    private void TabFilter(string status)
    {
        tabFilter = status;
    }

    // Initial the modal to show details of the item
    private void OpenDetailsModal(MenuItems currItem)
    {
        modalTitle = "Details";
        modalOkLabel = "Order";
        quantity = 0;
        currentItem = currItem;
        showItemDetailModal = true;
    }

    // Initiate the modal to cancel the order
    private void OpenOrderCancelModal()
    {
        showOrderCancelModal = true;
    }

    // Initial the modal to remove an item from the orders list
    private void OpenItemCancelModal(Orders currOrderItem)
    {
        showItemCancelModal = true;
        currentOrderItem = currOrderItem;
    }

    // Modal action to edit the quantity of an item
    private void OpenItemEditModal(Orders currOrderItem)
    {
        modalTitle = "Edit Order";
        modalOkLabel = "Edit";
        currentOrderItem = currOrderItem;
        editingOrderItem = currOrderItem;
        quantity = currOrderItem.Quantity;
        currentItem = menuItems.FirstOrDefault(item => item.ID == currentOrderItem.ItemID);
        showItemDetailModal = true;
    }

    // Modal action to delete an item from the orders list
    private void OnItemCancelModalClose(bool isCancel)
    {
        if (isCancel)
        {
            showItemCancelModal = false;
        }
        else
        {
            try
            {
                orderItems = orderItems.Where(x => x.ItemID != currentOrderItem.ItemID).ToList();
                showItemCancelModal = false;
            }
            catch(Exception e)
            {
                cancelItemErrorMessage = e.Message;
            }
        }
    }

    // Modal action to cancel the order
    private void OnOrderCancelModal(bool isCancel)
    {
        if (isCancel)
        {
            showOrderCancelModal = false;
        }
        else
        {
            try
            {
                orderItems = null;
                showOrderCancelModal = false;
            }
            catch (Exception e)
            {
                cancelOrderErrorMessage = e.Message;
                return;
            }
        }
    }

    private void OnDetailsModalClose(bool isCancel)
    {
        if(isCancel)
        {
            showItemDetailModal = false;
            addItemErrorMessage = "";
        }
        else
        {
            try
            {
                if (quantity <= 0)
                {
                    addItemErrorMessage = "Quantity must not be less than 1.";
                    return;
                }

                if (currentItem == null)
                {
                    addItemErrorMessage = "No items are selected. Please select an item.";
                    return;
                }

                if (editingOrderItem != null)
                {
                    editingOrderItem.Quantity = quantity;
                    editingOrderItem.ItemTotal = quantity * (float)currentItem.Price;
                    editingOrderItem = null;
                }
                else
                {
                    orderItems = OrderServices.AddItemToOrderList(orderItems, currentItem, quantity, session.CurrentUser.ID);
                }

                showItemDetailModal = false;
                currentItem = null;
                addItemErrorMessage = "";
            }
            catch (Exception e)
            {
                addItemErrorMessage = e.Message;
            }
        }
    }

    private void SearchTaskName(ChangeEventArgs e)
    {
        var searchTerm = e.Value.ToString();
        if (!string.IsNullOrEmpty(searchTerm) && searchTerm.Length > 2)
        {
            menuItems = MenuItemServices.GetAll().Where(t =>
            t.Name.ToLower().Contains(searchTerm.ToLower())).ToList();
        }
        else
        {
            menuItems = MenuItemServices.GetAll();
        }
    }
}